
@font-face {
    font-family: 'Andy Pro';
    font-style: normal;
    font-weight: normal;
    src: url('AndyRegular.OTF');
}

@font-face {
    font-family: 'Decotura ICG';
    font-style: normal;
    font-weight: normal;
    src: url('DecoturaICG.ttf');
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
background: #02009275;
border-radius: 30px;
}

::-webkit-scrollbar-thumb {
background: #ffff00;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #433c0a;
}

body {
    font-family: 'Andy Pro';
}

h1, h2 {
    font-family: 'Decotura ICG';
    font-weight: bold;
}

.borderEffects {
    box-shadow: 0 0 21px 13px rgba(0, 16, 155, 0.4);
}

#pokeLogo {
    width: 99px;
    height: 65px;
}

p {
    font-weight: light;
    font-size: larger;
}


@media (max-width: 991px) {
    div.vr {
        display: none;
    }
}